

.bg-dark {
    background-color: black !important;
}

.logo {
    margin-right: 0 15px;
}

.navbar-brand {
    font-size: 30px;
    margin: 0 15px;
}

#btnBuscar {
    margin: 0 25px;
}

.footer {
    width: 100%;
    background-color: rgb(226, 43, 220);
    text-align: center;
    color: black;
    font-weight: 500;
}

.darkMode{
    color: white;
    background-color: #191919;
}
.darkMode .modal{
    color: #191919;
}
.darkMode .card{
    color: #191919;
}